.intro{

	overflow:hidden;
	background:transparent;
	border:none;
	resize:none;
	padding: 0;	
}

.intro[readonly] {
	background:transparent;
}


.newact{

	text-align:right; 
	font-size:18px;
}


.newact a{

	color:#00AAFF;
}

.newact a:hover{

	color:#3287B2;
}

.trans{

	color:#00AAFF;
	background:transparent;
	border:none;
}


.btn-agree{

	color:#41B314;
	background:transparent;
	border:none;
}

.btn-red{

	color:red;
	background:transparent;
	border:none;
}

.glyphicon{

	font-size:24px;
}

